/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-pref-width: 763;
    -fx-pref-height: 452;
    -fx-background-color: #cccccc;
}

.painelTitulo{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 2 0;
    -fx-pref-height: 40;
    -fx-alignment: center;
}

.painelBusca {
    -fx-alignment: center_left;
    -fx-padding: 30 0 30 30;
    -fx-spacing: 10;
    -fx-pref-height: 40;
}

.painelUsuario {
    -fx-alignment: center_left;
    -fx-padding: 0 0 0 30;
    -fx-pref-height: 40;
}

.painelView{
    -fx-background-color: #cccccc;
    -fx-padding:0 30 10 30;
}