/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-pref-width: 763;
    -fx-pref-height: 452;
    -fx-background-color: #ffffff;
}

.painelDeDados{
    -fx-alignment: center;
    -fx-padding: 0 100 0 100;
}

.linhasDeTexto{
    -fx-spacing:10;
}